.cpf__form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.cpf__input--container {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.cpf__buttons {
   display: flex;
   gap: 10px;
   flex-direction: column;
   margin-top: var(--pm-075);
}
.cpf__buttons button {
   padding: var(--pm-075) var(--pm-125);
   border-radius: 4px;
   font-size: var(--font-normal);
   font-weight: 500;
   transition: 0.3s all linear;
}
.cpf__buttons button:hover {
   opacity: 0.85;
}
@media only screen and (min-width: 848px) {
   .cpf__buttons {
      flex-direction: row;
      gap: 15px;
   }
   .cpf__buttons button {
      width: 150px;
      padding-block: var(--pm-050);
   }
}
