.tiptap * {
   min-width: 2px !important;
}
.tiptap p.is-editor-empty:first-child::before {
   color: #adb5bd;
   content: attr(data-placeholder);
   float: left;
   height: 0;
   pointer-events: none;
}

/* STYLE FROM HTML RENDERER */

.tiptap {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.tiptap h2 {
   font-size: var(--font-xl);
   font-weight: 700;
   color: var(--color-text-350);
   line-height: 1.5;
   margin-top: 24px;
   font-size: clamp(var(--font-xl), 4vw, var(--font-2xl));
}

.tiptap h2 {
   --gap-before: 20px;
   --gap-before-minus: -20px;
   position: relative;
   margin-left: var(--gap-before);
}
.tiptap h2::before {
   content: "";
   position: absolute;
   height: 100%;
   width: 8px;
   left: var(--gap-before-minus);
   background-color: var(--color-primary);
}

.tiptap h2:nth-of-type(3n + 1)::before {
   background-color: #4a66be;
}
.tiptap h2:nth-of-type(3n + 2)::before {
   background-color: #9b00ff;
}
.tiptap h2:nth-of-type(3n + 3)::before {
   background-color: #00b0f2;
}

.tiptap h3 {
   font-size: var(--font-md);
   font-size: clamp(var(--font-md), 4vw, var(--font-xl));
}
.tiptap p,
.tiptap li {
   font-weight: 400;
   line-height: 1.75;
   color: var(--color-text-300);
   letter-spacing: 0.25px;
   font-size: var(--font-sm);
   font-size: clamp(var(--font-sm), 4vw, var(--font-normal));
}
.tiptap ul,
.tiptap ol {
   display: flex;
   flex-direction: column;
   gap: 12px;
   font-size: var(--font-sm);
   font-weight: 500;
   color: var(--color-text-300);
}
.tiptap ul > li {
   position: relative;
   padding-left: 20px;
   line-height: 1.5;
}
.tiptap li > ul,
.tiptap li > ol {
   margin-top: var(--pm-075);
}
.tiptap ol > li {
   line-height: 1.5;
   list-style: decimal-leading-zero;
   list-style-position: inside;
}
.tiptap ol > li::marker {
   font-weight: 600;
}
.tiptap ul > li::before {
   position: absolute;
   left: 0;
   content: "";
   height: 15px;
   width: 15px;
   background: url("/img/icons/circle-tick.svg") center center no-repeat;
   background-size: contain;
   top: 4px;
}
.tiptap img {
   display: block;
   border-radius: 12px;
   width: 100%;
   height: auto;
   margin-top: var(--pm-050);
}
@media only screen and (min-width: 848px) {
   .tiptap h2 {
      font-size: var(--font-2xl);
   }
   .tiptap h3 {
      font-size: var(--font-xl);
   }
   .tiptap p,
   .tiptap li {
      font-size: var(--font-normal);
   }
}
