.trainer-card {
   display: flex;
   flex-direction: column;
   border-radius: 12px;
   background-color: white;
   box-shadow: 0px 0px 1px 1px #e9eaf0;
   height:100%;
   justify-content: space-between;
}
.trainer-card__image--container {
   width: 100%;
   /* height: 100%; */
   max-height: 300px;
   aspect-ratio: 1.5;
}
@media only screen and (max-width: 320px) {
   .trainer-card__image--container {
      width: 100%;
      /* height: 100%; */

      max-height: 159px;
      aspect-ratio: 1.5;
   }
}


.trainer-card__image--container img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
   object-position: top;
}

.trainer-card__name--container,
.trainer-card__ratings--container {
   display: flex;
   gap: 10px;
   justify-content: space-between;
}
.trainer-card__name--container {
   padding: var(--pm-075) var(--pm-100);
}
.trainer-card__ratings--container {
   padding: var(--pm-100);
}
.trainer-card__name--container {
   border-bottom: 1px solid #e9eaf0;
   flex-wrap: wrap;
}
.trainer-card__text {
   color: var(--color-text-400);
   font-size: var(--font-normal);
   font-weight: 600;
   max-width:unset;
   min-width:160px;
   flex-grow: 1;
}
.trainer-card__text span {
    line-height: 2;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.trainer-card__subtext {
   color: var(--color-text-200);
   font-size: var(--font-xs);
   display: block;
}
.trainer-card__name,
.trainer-card__exp {
   font-weight: 600;
   color: var(--color-text-400);
   font-size: var(--font-md);
   line-height: 1.33;
   color: var(--color-text-350);
}
.trainer-card__name span,
.trainer-card__exp span {
   font-weight: 500;
}

.trainer-card__ratings,
.trainer-card__location {
   color: var(--color-text-300);
   display: flex;
   gap: 3px;
   font-weight: 600;
}
.trainer-card__exp {
    min-width: 70px;
    max-width: 60px;
}
.trainer-card__name--container {
    justify-content: space-between;
    flex-wrap: nowrap;
    min-height: 130px;
}
@media only screen and (max-width: 575px) {
    .trainer-card__exp {
        min-width: 80px;
        max-width: 60px;
    }
}
